#
# REF:
#  stackoverflow.com/questions/5533050/gitignore-exclude-folder-but-include-specific-subfolder
#  stackoverflow.com/questions/8527597/how-do-i-ignore-files-in-a-directory-in-git
##

c/
cpp/
disc2iso/
expand_url/
host_setup/

kickstart/*
!kickstart/defaults/
kickstart/defaults/*
!kickstart/defaults/*.example
!kickstart/defaults/default-dhcp.ks

locale/
#  mkpasswd/
mkpasswd/backups

#  mkvm/
mkvm/backups-to-add-to-gz/
#  mkvm/utils/
mkvm/betterHandlerFunctionEx1
mkvm/betterHandlerFunctionEx2
mkvm/mkvm-backups.tar.gz
mkvm/mkvm.elapsedTime
mkvm/mkvm.elapsedTime2
mkvm/mkvm.elapsedTime3
mkvm/mkvm.notes
#  mkvm/mkvm.sh
mkvm/virsh-help
mkvm/vminst.notes
mkvm/vm.notes

ytdl/*
!ytdl/ytdl

mount-nas/
set-env-var/
#  ssh_fingerprint/
configFirewall.sh
#  gitignore_ls.sh
groups_that_may_not_be_needed.sh
is_a_reboot_needed.sh
most_recently_updated_javascript_libs_on_github.sh
rm_dir_contents.sh

